@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?999y1');
  src:  url('fonts/icomoon.eot?999y1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?999y1') format('truetype'),
    url('fonts/icomoon.woff?999y1') format('woff'),
    url('fonts/icomoon.svg?999y1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-web:before {
  content: "\e91a";
}
.icon-moon-o:before {
  content: "\e90b";
}
.icon-eye:before {
  content: "\e97c";
}
.icon-eye-off:before {
  content: "\e97d";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e949";
}
.icon-check:before {
  content: "\e931";
}
.icon-ArrowUp:before {
  content: "\e900";
}
.icon-ArrowsOut:before {
  content: "\e901";
}
.icon-BellSimple:before {
  content: "\e902";
}
.icon-CaretDown:before {
  content: "\e903";
}
.icon-CaretLeft:before {
  content: "\e904";
}
.icon-chat:before {
  content: "\e905";
}
.icon-CheckCircle:before {
  content: "\e907";
}
.icon-CloudArrowUp:before {
  content: "\e908";
}
.icon-Copy:before {
  content: "\e909";
}
.icon-CurrencyCircleDollar:before {
  content: "\e90a";
}
.icon-DiscordLogo:before {
  content: "\e90c";
}
.icon-DownloadSimple:before {
  content: "\e90d";
}
.icon-EnvelopeSimple:before {
  content: "\e90e";
}
.icon-Export:before {
  content: "\e90f";
}
.icon-Eye:before {
  content: "\e910";
}
.icon-FacebookLogo:before {
  content: "\e911";
}
.icon-Faders:before {
  content: "\e906";
}
.icon-Flag:before {
  content: "\e913";
}
.icon-GlobeSimple:before {
  content: "\e914";
}
.icon-image:before {
  content: "\e916";
}
.icon-Info:before {
  content: "\e917";
}
.icon-LockKey:before {
  content: "\e918";
}
.icon-MapPin:before {
  content: "\e919";
}
.icon-Plus:before {
  content: "\e91b";
}
.icon-question:before {
  content: "\e91c";
}
.icon-SealQuestion:before {
  content: "\e91d";
}
.icon-Share:before {
  content: "\e91f";
}
.icon-ShareFat:before {
  content: "\e920";
}
.icon-SignOut:before {
  content: "\e921";
}
.icon-Star:before {
  content: "\e922";
}
.icon-Star-fill:before {
  content: "\e923";
}
.icon-Sun:before {
  content: "\e924";
}
.icon-TelegramLogo:before {
  content: "\e925";
}
.icon-ThumbsDown:before {
  content: "\e926";
}
.icon-ThumbsUp:before {
  content: "\e927";
}
.icon-Trash:before {
  content: "\e928";
}
.icon-UserCircle:before {
  content: "\e929";
}
.icon-video:before {
  content: "\e92a";
}
.icon-X:before {
  content: "\e92b";
}
.icon-XCircle:before {
  content: "\e92c";
}
.icon-XLogo:before {
  content: "\e92d";
}
.icon-Archive:before {
  content: "\e92e";
}
.icon-ArrowsClockwise:before {
  content: "\e930";
}
.icon-code-solid:before {
  content: "\e915";
}
