.tf-button {
    padding: 10px 27px;
    color: var(--DarkSurface);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid var(--Primary);
    border-radius: 8px;
    background-color: var(--Primary);
    @include transition3();
    cursor: pointer;
    .icon {
        font-size: 24px;
    }
    &:hover {
        background-color: transparent;
        color: var(--Primary);
    }
    i {
        font-size: 20px;
    }
    &.style-1 {
        color: var(--Secondary);    
        background-color: var(--White);
        &:hover {
            color: #FFF;    
            background-color: var(--Secondary);
        }
    }
    &.style-2 {
        color: #FFF;    
        background-color: transparent;
        border: 1px solid #FFFFFF4D;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        &:hover {
            color: #FFF;    
            background-color: var(--Secondary);
            border-color: var(--Secondary);
        }
    }
    &.style-3 {
        color: var(--Secondary);    
        background-color: transparent;
        border-color: var(--Secondary);
        &:hover {
            color: #FFF;    
            background-color: var(--Secondary);
        }
    }
    &.style-4 {
        background-color: var(--White);
        border: 0;
        color: var(--Main-Dark);
        &:hover {
            background-color: var(--Secondary);
        }
    }
    &.style-5 {
        padding: 14px;
        font-size: 12px;
        line-height: 14px;
        color: var(--White);
        border: 1px solid var(--Main-Dark);
        background-color: var(--Main-Dark);
        &:hover {
            background-color: var(--White);
            color: var(--Main-Dark);
        }
    }
    &.px-40 {
        padding-left: 40px;
        padding-right: 40px;
    }
    &.w230 {
        width: 230px;
    }
    &.w180 {
        width: 180px;
    }
    &.w128 {
        width: 128px;
    }
    &.w380 {
        width: 380px;
    }
}

.tf-button-arrow {
    .text-tiny.text {
        color: var(--Secondary) !important;
    }
    svg path {
        fill: var(--Secondary);
    }
}

.tf-btn-2 {
    height: 50px;
    padding: 15px 22px;
    color: #FFF;
    @include flex(center,center);
    gap: 8px;
    border-radius: 12px;
    background-size: 100%;
    background-color: transparent;
    border: 1px solid #FFFFFF4D;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
    @include transition3();
    cursor: pointer;
    span {
        @include transition3;
    }
    &:hover {
        color: #FFF;    
        background-color: var(--Secondary);
        border-color: var(--Secondary);
    }
}

.tf-btn-3 {
    height: 50px;
    padding: 15px 22px;
    color: #FFF;
    @include flex(center,center);
    gap: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border: 1px solid var(--Secondary);
    border-radius: 12px;
    background-color: var(--Secondary);
    background-size: 100%;
    overflow: hidden;
    @include transition3();
    cursor: pointer;
    span {
        @include transition3;
    }
    &:hover {
        background-color: transparent;
        color: var(--Secondary);
    }
}