form {
    position: relative;
    &.form-search {
        .input-search {
            padding: 7px 11px 7px 43px;
        }
        .button-submit {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            button {
                padding: 0;
                border: 0;
                display: flex;
                font-size: 24px;
                color: var(--Secondary);
            }
        }
    }
    &.form-style-1 {
        @include d-flex;
        flex-direction: column;
        gap: 24px;
        > * {
            @include flex(center,start);
            gap: 10px;
            > * {
                &:first-child {
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
        .upload-image {
            .item {
                &.up-load {
                    min-height: 250px;
                }
            }
        }
    }
    &.form-style-2 {
        @include d-flex;
        flex-direction: column;
        gap: 30px;
        > * {
            @include d-flex;
            flex-direction: row;
            gap: 30px;
            .left {
                width: 100%;
                max-width: 250px;
            }
            .right {
                max-width: 570px;
            }
        }
    }
    &.w885 {
        max-width: 885px;
    }
    .password {
        .show-pass {
            margin-left: -43px;
            font-size: 18px;
            color: var(--Icon);
            cursor: pointer;
            .view {
                display: none;
            }
            &.active {
                .hide {
                    display: none;
                }
                .view {
                    display: inline-block;
                }
            }
        }
    }
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        outline           : 0;
        -webkit-box-shadow: none;
        -moz-box-shadow   : none;
        box-shadow        : none;
        width: 100%;
        padding: 12px 19px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
        background-color: var(--DarkSurface);
        border: 1px solid #2A2839;
        border-radius: 8px;
        color: var(--OnSurface);
        overflow: hidden;
        margin-bottom: 0;
        @include transition3;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: var(--OnSurface);
        }
        &:focus {
            border-color: var(--Primary);
        }
    }
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        padding: 14px 22px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        background-color: transparent;
        border: 0;
        border-radius: 12px;
        color: var(--Main-Dark);
        overflow: hidden;
        display           : inline-block;
        -webkit-appearance: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition   : all 0.3s ease;
        transition        : all 0.3s ease;
        position          : relative;
    }
    textarea {
        height: 100px !important;
        &.h136 {
            height: 136px !important;
        }
    }
    .cols {
        @include d-flex;
    }
    .cols-lg {
        @include d-flex;
        justify-content: space-between;
        >* {
            max-width: 330px;
        }
    }
    &.form-setting {
        input {
            font-size: 14px;
            &::placeholder {
                font-size: 14px;
            }
        }
    }
}

fieldset {
    margin-bottom: 0px;
    width: 100%;
}

.select {
    position: relative;
    &::after {
        position: absolute;
        content: '\e934';
        right: 22px;
        top: 50%;
        font-family: $fontIcon;
        font-size: 18px;
        color: var(--Surface-2);
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    &.w200 {
        width: 100%;
        min-width: 100px;
        max-width: 200px;
    }
    &.w160 {
        width: 160px;
    }
}

select {
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 14px 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: var(--Surface-3);
    border: 0;
    border-radius: 12px;
    color: var(--Surface-2);
    margin-bottom: 0px;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    option {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--Surface-2);
        background: var(--backdrop);
        text-transform: capitalize;
        cursor: pointer;
    }
}

.input-has-pre {
    position: relative;
    .icon {
        position: absolute;
        left: 22px;
        top: 50%;
        transform: translateY(-50%);
    }
    input {
        padding-left: 50px !important;
    }
}

.tf-select {
    position: relative;
    &::after {
        position: absolute;
        font-family: $fontIcon;
        content: "\e934";
        color: var(--Main-Dark);
        font-size: 24px;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
    select {
        padding: 14px 63px 14px 15px;
        border-radius: 12px;
        background-color: var(--White);
        border: 1px solid var(--Surface-3);
        color: var(--Main-Dark);
    }
}

.multi-select {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    background-color: var(--Surface-3);
    border: 0;
    border-radius: 12px;
    color: var(--Surface-2);
    .selected-tags {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        flex: 1;
        .tag {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 3px 8px;
            border-radius: 99px;
            background: #FFF9F6;
            color: var(--Main);
            @include transition3();
            &:hover {
                .icon::before {
                    content: "\e9bc";
                }
            }
            .icon {
                display: flex;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
    .toggle-dropdown {
        display: flex;
        cursor: pointer;
        .icon {
            font-size: 24px;
        }
    }
    .list-dropdown {
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        background: var(--White);
        border: 1px solid #ddd;
        border-radius: 8px;
        display: none;
        flex-direction: column;
        z-index: 100;
        div {
            padding: 8px 12px;
            cursor: pointer;
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}

.mw-585 {
    max-width: 585px;
}