.popup-wrap {
    width: auto;
    height: auto;
    @include flex(center,center);
    flex-shrink: 0;
    border-radius: 14px;
    border: none;
    background: var(--secondary);
    text-align: center;
    position: relative;
    .button-close-dropdown {
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 20px;
        @include flex(center,center);
        gap: 10px;
        width: 32px;
        height: 32px;
        border-radius: 999px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(2px);
        cursor: pointer;
    }
    &.type-header {
        > .dropdown {
            > .dropdown-toggle {
                cursor: pointer;
                padding: 0;
                overflow: unset;
                background: none;
                border: none;
                &::after {
                    display: none;
                }
                &:focus {
                    outline: none;
                    outline-offset: 0;
                    box-shadow: none;
                }
            }
        }
    }
    > .dropdown {
        > .dropdown-menu.show {
            display: grid;
            padding: 23px;
            margin-top: 20px !important;
            gap: 16px;
            border-radius: 12px;
            border: none;
            background: var(--DarkSurface);
            border: 1px solid var(--Line);
        }
    }
    &.user {
        .dropdown-menu.show {
            width: 300px;
            margin-top: 19px !important;
        }
        .user-item {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 11px 12px;
            border-radius: 8px;
            @include transition3;
            .icon {
                font-size: 24px;
                color: var(--OnSurface);
            }
            .text {
                color: var(--OnSurface);
            }
            &:hover {
                background-color: var(--Surface);
            }
        }
    }
    &.noti {
        .dropdown-menu.show {
            width: 316px;
            margin-top: 20px !important;
        }
        .noti-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 11px;
            border-bottom: 1px solid var(--Line);
        }
        .noti-item {
            padding: 8px 12px;
            border-radius: 8px;
            .title {
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 4px;
                color: var(--OnSurface);
            }
            .time {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: var(--Secondary);
            }
            &:hover {
                background-color: var(--Surface);
            }
        }
    }
    &.infor {
        .dropdown-menu.show {
            width: 316px;
            margin-top: 20px !important;
        }
    }
}

.dropdown {
    &.default {
        > .dropdown-toggle {
            padding: 0;
            overflow: hidden;
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            height: unset;
            &::after {
                display: none;
            }
        }
        > .dropdown-menu {
            margin-top: 5px !important;
            min-width: 120px;
            background-color: var(--White);
            border: 0;
            padding: 0;
            box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.10) inset, 0px 8px 22px 0px rgba(4, 8, 16, 0.30);
            a {
                @include d-flex;
                font-size: 12px;
                padding: 8px 16px;
                &:hover {
                    color: var(--Secondary);
                }
            }
        }
        &.style-box {
            > .dropdown-toggle {
                >* {
                    @include flex(center,space-between);
                    gap: 10px;
                    width: 118px;
                    padding: 9px 16px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    border: 1px solid #3030301A;
                    background: #F6F6F6;
                    color: var(--Main-Dark);
                    font-size: 12px;
                    line-height: 14px;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .dropdown-backdrop.show:before {
        position: fixed;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(24, 24, 24, 0.2);
        z-index: 200;
    }
    &.dropdown-store-location {
        width: max-content;
        .dropdown-title {
            cursor: pointer;
            width: max-content;
        }
        .dropdown-menu {
            border: 0;
            background-color: transparent;
            padding: 0;
        }
        .dropdown-content {
            width: 360px;
            padding: 20px;
            border-radius: 12px;
            background-color: var(--White);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .dropdown-content-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: var(--Main-Dark);
                cursor: pointer;
            }
        }
    }
}

.modalDemo {
    .demo-title {
        margin-top: 50px;
        margin-bottom: 44px;
        font-weight: 500;
        text-align: center;
    }
    .modal-dialog {
        max-width: 1540px;
        margin-top: 8px;
        margin-bottom: 8px;
        height: calc(100vh - 16px);
    }
    .modal-content {
        padding: 0 50px 40px;
        background-color: var(--White);
        width: 100%;
        border-radius: 10px;
        margin: 0 30px;
        max-height: calc(100vh - 60px);
        border: 0;
        cursor: default;
        overflow: hidden;
    }
    .header {
        position: relative;
        .icon-close-popup {
            position: absolute;
            top: 18px;
            right: 0;
            width: 30px;
            height: 30px;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: rgb(134 134 134);
        }
    }
}

.tf-product-modal {
    .modal-dialog {
        max-width: min(625px, 90vw);
        .modal-content {
            padding: 38px 36px 40px;
            margin-left: 0;
            margin-right: 0;
            .header {
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .demo-title {
                    margin: 0;
                    text-align: start;
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 31px;
                    color: var(--Main-Dark);
                }
                span {
                    position: unset;
                    color: var(--Main-Dark);
                    @include transition3;
                    &:hover {
                        color: var(--Main);
                    }
                }
            }
            h6 {
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 25px;
            }
            .title {
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                margin-top: 15px;
                color: var(--Main-Dark);
            }
            p {
                margin-top: 15px;
                margin-bottom: 20px;
            }
        }
    }
}

.popup-findsize {
    .modal-dialog {
        max-width: min(900px, 90vw);
    }
    .tf-rte {
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 2px;
        }
    }
    .tf-sizeguide-table {
        border: 1px solid #3030301A;
        border-radius: 5px;
        width: 100%;
        th {
            border: 1px solid #3030301A;
            padding: 8px 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: var(--Main-Dark);
        }
        td {
            border: 1px solid #3030301A;
            border-width: 0 1px 1px 0;
            padding: 8px 5px;
            font-size: 14px;
            line-height: 20px;
            color: var(--Main-Dark);
        }
    }
    .tf-page-size-chart-content {
        margin-top: 15px;
        display: grid;
        gap: 10px;
        grid-template-columns: 8fr 4fr;
    }
    p {
        color: #545454;
    }
}