.variant-picker-item {
    .variant-picker-label {
        margin-bottom: 14px;
    }
    .variant-picker-values {
        display: flex;
        gap: 10px;
        align-items: center;
        input {
            position: absolute !important;
            overflow: hidden;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            clip: rect(0 0 0 0);
            word-wrap: normal !important;
            &:checked + label {
                border-color: #30303080;
            }
            &:checked + label.style-text {
                background-color: var(--Secondary);
                border: 0;
                * {
                    color: var(--White);
                }
            }
            &:checked + label.style-1 {
                &::before {
                    border-color: #fff;
                }
            }
        }
        label {
            width: 36px;
            height: 36px;
            text-align: center;
            padding: 5px;
            border: 1px solid transparent;
            cursor: pointer;
            font-weight: 400;
            line-height: 22.4px;
            border-radius: 50%;
            @include transition3;
            &:hover {
                border-color: #30303080;
            }
            .btn-checkbox {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                border: 0;
            }
            .text {
                font-size: 16px;
                line-height: 19px;
            }
            &.style-text {
                min-width: 40px;
                width: 40px;
                height: 37px;
                border: 0;
                border-radius: 12px;
                background-color: var(--Surface-3);
                @include flex(center,center);
            }
            &.style-1 {
                position: relative;
                width: 32px;
                height: 32px;
                padding: 0;
                border: 0;
                &::before {
                    position: absolute;
                    content: '';
                    inset: 1px;
                    border: 3px solid transparent;
                    border-radius: 50%;
                    @include transition3;
                }
            }
            &.w48 {
                width: 48px;
                height: 48px;
            }
            &.style-2 {
                border: 2px solid #3030301A;
                background-color: #fff;
            }
            &.type-disable {
                position: relative;
                pointer-events: none;
                &::before {
                    position: absolute;
                    content: '';
                    width: 46px;
                    height: 1px;
                    border-top: 1px dashed #DDDDDD;
                    transform: rotate(45deg);
                }
                &::after {
                    position: absolute;
                    content: '';
                    width: 46px;
                    height: 1px;
                    border-top: 1px dashed #DDDDDD;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.bg-color-orange {
    background-color: #FF7433;
}
.bg-color-blue {
    background-color: #2377FC;
}
.bg-color-yellow {
    background-color: #FCC141;
}
.bg-color-white {
    background-color: var(--White);
}
.bg-color-black {
    background-color: var(--Main-Dark);
}
.bg-color-gray {
    background-color: #30303080;
}
.bg-color-purple {
    background-color: #8D79F6;
}

.tf-main-product {
    display: flex;
    gap: 60px;
}

.thumbs-slider {
    display: flex;
    gap: 20px;
}

.tf-product-media-wrap {
    width: 41.555%;
}

.tf-product-media-thumbs {
    width: 80px;
    max-height: 686px;
    flex-shrink: 0;
    .swiper-slide {
        width: auto;
        height: max-content;
        .item {
            position: relative;
            height: 106.67px;
            @include flex(center,center);
            border-radius: 4px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                left: 0;    
                bottom: 0;
                border: 1px solid transparent;
                @include transition3;
                border-radius: 4px;
            }
        }
        &.swiper-slide-thumb-active {
            .item {
                &::after {
                    border: 1px solid var(--OnSurface);
                }
            }
        }
    }
}

.tf-product-media-main {
    .item {
        height: 686.67px;
        border-radius: 12px;
        overflow: hidden;
        @include flex(center,center);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.tf-product-info-list {
    display: grid;
    gap: 20px;
}
.tf-product-info-title {
    .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 12px;
    }
}

.tf-product-info-price {
    display: flex;
    align-items: center;
    .price-on-sale {
        margin-right: 8px;
    }
    .compare-at-price {
        font-size: 16px;
        line-height: 26px;
        margin-right: 16px;
    }
    .badges-on-sale {
        display: flex;
        padding: 0 8px;
        border-radius: 99px;
        color: #fff;
        background-color: var(--Main);
        font-size: 12px;
        line-height: 22px;
    }
}

.tf-product-upsell {
    max-width: 569px;
    .text-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: var(--Main-Dark);
    }
    .tf-product-process-wrap {
        width: 100%;
        max-width: 380px;
        margin-top: 5px;
        .progress {
            height: 8px;
            background-color: #3030301A;
            margin-bottom: 8px;
            border-radius: 9px;
            .progress-bar {
                background-color: #FF7433;
            }
        }
    }
}

.tf-countdown {
    .countdown__timer {
        display: flex;
        gap: 47px;
    }
    .countdown__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        position: relative;
        border-radius: 8px;
        .countdown__value {
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: -3px;
            color: var(--Main-Dark);
        }
        .countdown__label {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: var(--Surface-2);
        }
        &:not(:last-child)::after {
            position: absolute;
            content: ":";
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            right: -26px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--Main-Dark);
        }
    }
}

.tf-product-info-variant-picker {
    display: flex;
    gap: 20px;
    flex-direction: column;
    .variant-picker-label {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 12px;
        color: var(--Main-Dark);
    }
    .variant-picker-values {
        &.style-1 {
            gap: 20px;
           
        }
    }
}

.wg-quantity {
    width: 180px;
    display: flex;
    background-color: var(--White);
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid  #3030301A;
    input {
        width: 88px;
        height: 44px;
        padding: 0;
        background-color: transparent;
        border: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: var(--Main-Dark);
        outline: none !important;
    }
    .btn-quantity {
        width: 44px;
        height: 44px;
        @include flex(center,center);
        font-size: 32px;
        color: var(--Main-Dark);
        cursor: pointer;
    }
}

.tf-product-info-buy-button {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .btn-addcart {
        height: 42px;
    }
    .btn-buy {
        height: 48px;
    }
    .payment-more-option {
        width: 100%;
        color: #575864;
        text-align: center;
    }
}

.tf-product-btn {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 99px;
    @include flex(center,center);
    border: 2px solid rgba(48, 48, 48, 0.1);
    @include transition3;
    cursor: pointer;
    &:hover {
        border-color: var(--Main);
    }
}

.tf-product-info-extra-link {
    display: flex;
    align-items: center;
    gap: 10px 17px;
    flex-wrap: wrap;
    .divider {
        width: 1px;
        background: rgba(48, 48, 48, 0.1);
        height: auto;
    }
}

.tf-product-extra-icon {
    display: flex;
    gap: 4px;
    align-items: center;
}

.tf-product-info-trust-seal {
    display: flex;
    gap: 10px 16px;
    flex-wrap: wrap;
    align-items: center;
    .tf-product-trust-mess {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    img {
        height: 32px;
    }
}