.layout-wrap {
    .section-content-right {
        flex-grow: 1;
        @include transition3;
        .main-content {
            @include d-flex;
            flex-direction: column;
            min-height: 100vh;
            padding-top: 80px;
            padding-left: 300px;
            background: var(--DarkSurface);
            transition: all 0.3s, background 0s ease;
        }
        .main-content-inner {
            padding: 0 30px 30px 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        .main-content-wrap {
            flex-grow: 1;
            width: 100%;
            max-width: 1590px;
            margin: auto;
            border-radius: 16px;
            background-color: var(--Surface);
        }
    }
    &.full-width {
        .section-content-right {
            .main-content {
                padding-left: 0;
            }
            .header-dashboard {
                width: 100%;
                padding-left: 30px !important;
            }
        }
    }
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-shrink: 0;
    width: 340px;
    padding: 40px 32px 40px 31px; 
    border-left: 1px solid var(--Line);
    background-color: var(--Surface);
    @include transition3;
    .sidebar-btn-close {
        display: none;
        position: absolute;
        top: 0;
        left: -32px;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        border: 1px solid var(--Line);
        background-color: var(--Surface);
        transform: rotate(-90deg);
    }
}

.chat-bot-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        padding: 29px 40px 28px;
        border-bottom: 1px solid var(--Line);
    }
    .content-chat {
        position: absolute;
        inset: 0;
        padding: 62px 40px 40px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow-y: auto;
        flex-grow: 1;
        &::-webkit-scrollbar {
            width: 8px; 
        }
        &::-webkit-scrollbar-thumb {
            background: var(--Secondary);
            border-radius: 0px;
        }
        &::-webkit-scrollbar-track {
            background: var(--Line);
        }
    }
    .bubble {
        display: flex;
        gap: 16px;
        .avatar {
            display: flex;
            width: 44px;
            height: 44px;
            flex-shrink: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .content {
            border-radius: 12px;
            padding: 16px 24px;
            background-color: var(--DarkSurface);
        }
    }
    .bubble-me {
        flex-direction: row-reverse;
        align-items: flex-end;
        .content {
            border-radius: 12px 12px 0 12px;
        }
    }
    .bubble-you {
        .content {
            max-width: 800px;
        }
    }
}

.form-chat {
    border-top: 1px solid var(--Line);
    padding: 25px 40px 26px 40px;
    input {
        font-size: 18px;
        line-height: 28px;
        padding: 19px 65px 19px 23px;
        border-radius: 99px;
        color: var(--OnSurface);
        &::placeholder {
            color: var(--Secondary);
        }
    }
    .btn-message {
        position: absolute;
        right: 52px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid var(--Primary);
        background-color: var(--Primary);
        font-size: 24px;
        color: var(--DarkSurface);
        cursor: pointer;
        @include transition3;
        &:hover {
            background-color: transparent;
            color: var(--Primary);
        }
    }
}

.history-wrap {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0px;
    }
}

.question-ai-wrap {
    display: flex;
    flex-direction: column;
    .heading {
        padding: 26px 140px 25px;
        border-bottom: 1px solid var(--Line);
    }
    .question-ai-content {
        position: absolute;
        inset: 0;
        padding: 32px 140px ;
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow-y: auto;
        flex-grow: 1;
        &::-webkit-scrollbar {
            width: 8px; 
        }
        &::-webkit-scrollbar-thumb {
            background: var(--Secondary);
            border-radius: 0px;
        }
        &::-webkit-scrollbar-track {
            background: var(--Line);
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border: 1px solid var(--Line);
                border-radius: 8px;
                background-color: var(--Surface);
                font-size: 20px;
                cursor: pointer;
            }
        }
        .question-ai-item {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .text {
                color: var(--Secondary);
            }
            &:not(:last-child) {
                padding-bottom: 24px;
                border-bottom: 1px solid var(--Line);
                margin-bottom: 24px;
            }
        }
    }
}

.form-question-ai {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    background-color: var(--Surface);
    border-radius: 99px;
    border: 1px solid var(--Primary);
    .btn-dropdown-cate {
        display: flex;
        align-items: center;
        gap: 6px;
        padding-right: 19px;
        border-right: 1px solid #DAD8E6;
        cursor: pointer;
        .icon {
            font-size: 24px;
        }
    }
    .input-question {
        background-color: transparent;
        padding: 0;
        font-size: 18px;
        line-height: 28px;
        border: 0;
        border-radius: 0;
        &::placeholder {
            color: var(--Secondary);
        }
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: var(--DarkSurface);
        background-color: var(--Primary);
        font-size: 24px;
        flex-shrink: 0;
    }
    .dropdown-cate {
        position: absolute;
        left: 0;
        right: 0;
        top: 101%;
        transform: translateY(10px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        padding: 23px;
        border: 1px solid var(--Line);
        border-radius: 12px;
        background-color: var(--DarkSurface);
        opacity: 0;
        visibility: hidden;
        @include transition3;
        a {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 19px;
            border: 1px solid var(--Line);
            border-radius: 8px;
            background-color: var(--DarkSurface);
            .desc {
                color: var(--Secondary);
            }
            &:hover {
                background-color: var(--Surface);
            }
        }
    }
    &.active {
        .dropdown-cate {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
        }
    }
}

.ask-old-item {
    display: flex;
    padding: 7px 15px;
    border-radius: 6px;
    border: 1px solid var(--Line);
    &:hover {
        background-color: var(--DarkSurface);
    }
}

.question-result-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        padding: 29px 40px 28px;
        border-bottom: 1px solid var(--Line);
    }
    .question-result-content {
        position: absolute;
        inset: 0;
        padding: 24px 40px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px; 
        }
        &::-webkit-scrollbar-thumb {
            background: var(--Secondary);
            border-radius: 0px;
        }
        &::-webkit-scrollbar-track {
            background: var(--Line);
        }
    }
}

.list-quick-search {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    .quick-search-item {
        padding: 15px;
        border: 1px solid var(--Line);
        border-radius: 12px;
        &:hover {
            background-color: var(--DarkSurface);
        }
        .title {
            margin-bottom: 4px;
        }
        .title,
        .sub {
            color: var(--OnSurface);
        }
    }
}

.answer-content {
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--DarkSurface);
    box-shadow: 0px 4px 4px 0px rgba(51, 28, 35, 0.08);
}





.tf-section-1 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.tf-section-2 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.tf-section-3 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(4,minmax(0,1fr));
}

.tf-section-4 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(3,minmax(0,1fr));
    > div {
        &:nth-child(1) {
            grid-column: span 2 / span 2 !important;
        }
        &:nth-child(2) {
            grid-column: span 1 / span 1 !important;
        }
    }
}

.tf-section-5 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(4,minmax(0,1fr));
    > div {
        &:nth-child(1) {
            grid-column: span 1 / span 1 !important;
        }
        &:nth-child(2) {
            grid-column: span 3 / span 3 !important;
        }
    }
}

.button-zoom-maximize,
.button-dark-light {
    cursor: pointer;
}

.login-page {
    @include flex(center,center);
    align-items: stretch;
    min-height: 100vh;
    .right {
        width: 100%;
        background-color: #0A0A0C;
    }
    .login-box {
        @include flex(start,center);
        gap: 40px;
        flex-direction: column;
        padding: 30px;
        height: 100%;
        max-width: 540px;
        margin: 0 auto;
        h3 {
            color: #fff;
            margin-bottom: 5px;
        }
        fieldset input {
            padding: 14px 21px;
            color: var(--Surface-3);
            border: 1px solid #FFFFFF4D;
            background-color: transparent;
            &::placeholder {
                color: var(--Surface-2);
            }
        }
        .tf-button {
            font-size: 16px;
            font-weight: 400;
        }
        .tf-check {
            border-color: #FFFFFF4D;
        }
    }
    .left {
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.offcanvas {
    width: 530px;
    border: none;
    padding: 30px;
    gap: 24px;
    background-color: var(--White);
    &.offcanvas-top {
        border-radius: 0px 0px 14px 14px;
        width: 100%;
    }
    &.offcanvas-start {
        border-radius: 0px 14px 14px 0px;
        height: 100%;
    }
    &.offcanvas-bottom {
        border-radius: 14px 14px 0px 0px;
        width: 100%;
    }
}
.offcanvas-header {
    padding: 0;
    padding-bottom: 14px;
    border-bottom: 1px solid #EDF1F5;
    h6 {
        color: var(--Main-Dark);
    }
    .btn-close {
        font-size: 30px;
        color: var(--Main-Dark) !important;
        opacity: 1;
        border: none;
        outline: 0;
        background: unset !important;
        padding: 0;
    }
}
.offcanvas-body {
    padding: 0;
    &::-webkit-scrollbar {
        width: 3px;
    }
    form {
        @include d-flex;
        flex-direction: column;
        gap: 20px;
        > fieldset {
            .body-title {
                color: #0A0A0C;
            }
            >.body-title {
                color: var(--Main-Dark);
            }
            padding-bottom: 20px;
            border-bottom: 1px solid #EDF1F5;
            &:last-of-type {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
        .radio-buttons {
            display: grid !important;
            gap: 10px;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            .item {
                width: 100%;
                max-width: 150px;
                input {
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                }
                label {
                    width: 100%;
                    justify-content: start;
                    height: 44px;
                    padding: 12px 0 12px 40px;
                }
            }
        }
        &.form-theme-color {
            .radio-buttons {
                .item {
                    max-width: unset;
                    input {
                        width: 18px;
                        height: 18px;
                        font-size: 18px;
                        padding: 0;
                        border: none;
                        background-color: #fff !important;
                        &::before {
                            width: 18px;
                            height: 18px;
                            font-size: 18px;
                            border: none;
                            border-radius: 0;
                        }
                    }
                    label {
                        width: 40px;
                        height: 40px;
                        background-color: #FFFFFF;
                        border-radius: 14px;
                        border: 1px solid #EDF1F5;
                    }
                }
            }
        }
    }
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}