.widget-tabs {
    .widget-menu-tab {
        @include d-flex;
        gap: 26px;
        padding-bottom: 14px;
        border-bottom: 1px solid #EDF1F5;
        margin-bottom: 24px;
        li {
            cursor: pointer;
            position: relative;
            * {
                color: var(--Note);
            }
            &.active {
                * {
                    color: var(--Secondary);
                }
                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: -15px;
                    background-color: var(--Secondary);
                    
                }
            }
        }
        &.style-1 {
            padding: 8px;
            border-radius: 14px;
            gap: 10px;
            background-color: #ECF0F4;
            border: 0;
            .item-title {
                border-radius: 14px;
                padding: 12px 20px;
                width: 100%;
                text-align: center;
                @include transition3();
                &::after {
                    display: none;
                }
                &.active {
                    background-color: #fff;
                    .body-title {
                        color: #FF7433;
                    }
                }
                .body-title {
                    color: #111111;
                }
            }
        }
    }
    &.style-menu-tab {
        width: 100%;
        max-width: 1290px;
        margin-left: auto;
        margin-right: auto;
        .widget-menu-tab {
            display: flex;
            align-items: center;
            gap: 40px;
            max-width: max-content;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 8px;
            margin-bottom: 20px;
            border: 0;
            overflow-x: auto;
            .item-title {
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                min-width: max-content;
                .inner {
                    color: var(--Main-Dark);
                }
                &::after {
                    position: absolute;
                    content: "";
                    background-color: var(--Main-Dark);
                    @include transition3;
                    bottom: 0px;
                    left: 0;
                    width: 0;
                    height: 1px;
                }
                &.active {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        .widget-content-inner {
            padding: 39px;
            border: 1px solid #3030301A;
            border-radius: 8px;
            .text {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

.tab-description {
    display: flex;
    gap: 32px;
    .right,
    .left {
        width: 100%;
    }
    ul.list-text.type-disc li {
        padding-left: 24px;
        &:before {
            top: 11px;
            left: 11px;
            width: 3px;
            height: 3px;
            border-radius: 0;
        }
    }
}

.tab-reviews {
    .tab-reviews-heading {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            width: 100%;
            max-width: 597px;
            gap: 30px;
            .list-start {
                display: flex;
                gap: 2px;
                justify-content: center;
                margin-bottom: 7px;
                margin-top: 1px;
                font-size: 17px;
            }
        }
    }
    .rating-score {
        width: 100%;
        max-width: 365px;
        .item {
            width: 100%;
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
        .number-1 {
            width: 12px;
            text-align: end;
        }
        .icon {
            font-size: 15px;
            margin-left: 4px;
            color: var(--Main);
        }
        .number-2 {
            width: 17px;
        }
        .line-bg {
            margin: 0 8px;
            width: 100%;
            height: 8px;
            background-color: var(--Surface-3);
            div {
                height: 100%;
                background-color: var(--Main);
            }
        }
    }
}

.write-cancel-review-wrap {
    .write-review-wrap,
    .btn-cancel-review {
        display: none;
    }
    &.write-review {
        .cancel-review-wrap,
        .btn-write-review {
            display: none;
        }
        .write-review-wrap,
        .btn-cancel-review {
            display: block;
        }
        .check-save {
            label {
                margin-left: 8px;
            }
        }
    }
}

.tab-shipping {
    display: flex;
    gap: 30px;
    p {
        color: var(--secondary);
    }
}